body{
    margin: 0;
    padding: 0;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    background: #f6f4d2;
}
header {
    background-color: #d4e09b;
    padding-left: 20px;
    display: flex;
    border-bottom: 1px solid #343f3e;
}
.add-button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #f19c79;
    color: white;
    border: unset;
    box-shadow: 2px 2px 2px #343f3e;
    font-size: 32px;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.list-item{
    height: 60px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #343f3e;
    justify-content: space-between;
    gap: 10px;
}

.delete-button {
    height: 40px;
    width: 100px;
    margin-right: 10px;
    background-color: #ff7940;
    color: white;
    border: 1px solid #343f3e; 
    font-size: 16px; 
    box-shadow: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #888;
}
