{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mylist/style.css' %}">

</head>
<body>
    <header>
        <h1>
            Mein Second Brain!
        </h1>
    </header>
    <button onclick="addItem()">
        +
    </button>
    {%for row in all_items %}
    <div class = "list-item">
        <input type= "checkbox" id = "item{{ row.id }}"> 
        <label for="item1"> {{ row.item_text }} </label>
    </div>
    {% endfor %}
    
    <script>
        function addItem(){
            let itemText = prompt('Neues Element hinzufügen');
            let token = '{{ csrf_token }}';
            let formData = new FormData();

            formData.append('csrfmiddlewaretoken', token );
            formData.append('itemText', itemText);
            
            fetch('/mylist/', {
                method: 'POST',
                body: formData
            }) .then(() => window.location.reload());
            //window.location.reload();
        }
    </script>
    
</body>
</html>